# When adding new entries keep the list in alphabetical order

if ARCH_MSM

config STATE_NOTIFIER
        bool "State Notifier"
	default y
	
source "drivers/soc/qcom/hotplug/Kconfig"	

endif # ARCH_MSM
